/* Main Elements */
body {
  font-family:'Nunito Sans', sans-serif;
  padding: 1rem;
  background-color: #fff;
}

header {
  margin: 2rem;
}

section {
  padding: 2rem;
  padding-bottom: 0;
}

/* For Footer */
footer{
  background-color: #fff;
  margin-top: 5rem;
}

.footer-nav {
  font-size: 13px;
  justify-content: center;
}

.footer-text{
  flex-direction: row;
  justify-content: center;
  font-size: 13px;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #1B1B1B;
}
/* For Footer */

/* For Navigation */
nav {
  margin: 1.5rem;
  text-align: center;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

.button-nav {
  display: inline-block;
  padding: .5rem;
  color: #1B1B1B;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.5s;
  font-weight: bold;
  font-size: 1.5em;
}

.button-nav:hover, .button-nav:focus {
  color: #1D2951;
}
/* For Navigation */

code {
  background-color: #F0F8FF;
  padding: 0.5rem;
  display: block;
}

/*For Image*/
img {
  padding-bottom: 0.5rem;
}

.image-link {
  display: inline-block;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.image-link:hover, .image-link:focus {
  background-color: #1D2951;
}
/*For Image*/

/*For Inputs and Labels*/
input {
  border-radius: 2px;
  font-family:'Nunito', sans-serif;
  margin: 0;
}

label {
  border-radius: 10px;
  font-family:'Nunito Sans', sans-serif;
  font-weight: bold;
  margin: 0;
}

.input-box {
  padding: 30px 30px 0 30px;
}

.input-box label {
  color: #1B1B1B;
  display: block;
}

.input-box input {
  background: #fff;
  border: 1px solid #1D2951;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #1B1B1B;
  padding: 6px;
  font-size: 1em;
  margin-top: 6px;
  width: 100%;
}

textarea {
  border-radius: 2px;
  font-family:'Nunito', sans-serif;
  background: #fff;
  border: 1px solid #1D2951;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #1B1B1B;
  padding: 6px;
  font-size: 1em;
  margin-top: 6px;
  width: 100%;
  height: 200px;
  resize: vertical;
}
/*For Inputs and Labels*/

/* For Forms and Fieldsets */
form{
  border: 1px solid #1D2951;
  border-radius: 10px;
  font-family:'Nunito', sans-serif;
  font-size: 1.5em;
  overflow: hidden;
  width: 70vw;
  background-color: white;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* For Forms and Fieldsets */

/*For Select Buttons*/
.button-select {
  display: inline-block;
  padding: 1.5rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.button-select .btn {
  background: linear-gradient(#1D2951, #4682B4);
  border: 0;
  color: #F5F5F0;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  float: left;
  padding: 10px 25px;
}
/*For Select Buttons*/

/*For Text*/
h1 {
  font-size: 4em;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0;
}

h3 {
  font-size: 2em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

p {
  font-family:'Nunito', sans-serif;
  margin-top: 0;
  max-width: 100%;
  font-size: 1.5em;
  text-align: center;
}

.text-link {
  color: #1B1B1B;
  transition-property: color;
  transition-duration: 0.5s;

}

.text-link:hover, .text-link:focus {
  color: #4682B4;
}
/*For Text*/

/* Resource for dropdown: https://www.w3schools.com/howto/howto_css_dropdown.asp */
/* Resource for form, input, and label:https://learn.shayhowe.com/html-css/building-forms/ */
